a{
    color: yellow;
    opacity: 1.0;
}
a:visited{
    color: white;
}

body{
    font-size: 30px;
    font-family: "Consolas";
    margin-left: 25px;
    margin-right: 25px;
    background-color: dimgray;
    color: darkgray;
    background-image: url("../images/scrollingbars.gif");
    background-size: auto;
    text-align: center;
}
footer{
    font-size: 10px;
    text-align: left;
}

/* Navigation bar help from w3schools.com */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    background-color: #333;
    border-right: 1px solid #bbb;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

.active {
    background-color: orangered;
}